<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <header class="bg-primary text-white text-center">
        <h1 class="m-3 p-3">Ticket System</h1>
    </header>
    <main>
        @RenderBody()
    </main>
</div>

<header>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-controller="Ticket" asp-action="Index" asp-route-id="">Show All Tickets</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Sprint" asp-action="Index">Show All Sprints</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Status" asp-action="Index">Show All Statuses</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Point" asp-action="Index">Show All Points</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    @if (TempData.ContainsKey("msg"))
    {
        <h4 class="bg-light text-center p-3">@TempData["msg"]</h4>
    }
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
</body>
</html>