@model Point

@{
    ViewData["Title"] = "Delete Point";
}

<h1 class="display-4">Delete Point</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.Name
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="PointId" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="Point" class="btn btn-outline-dark">Cancel</a>
</form>
