@model Sprint

@{
    ViewData["Title"] = "Delete Sprint";
}

<h1 class="display-4">Delete Sprint</h1>
<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.SprintNumber
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="SprintId" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="Sprint" class="btn btn-outline-dark">Cancel</a>
</form>
